// out: false

@import "__pallete.less";

.page__footer {
    background-image: url('../img/bg-2.webp');
    background-repeat: no-repeat;
    background-size: cover;

    .is--mobile {
        .social__links {
            width: 200px;

            a {
                &:hover {
                filter: brightness(0) saturate(100%) invert(40%) sepia(5%) saturate(4239%) hue-rotate(359deg) brightness(109%) contrast(78%);
                }
            }
        }
        

        .footer__content {
            font: 500 18px @catamaran;
            color: @brown;
        }

        .address {

            address,
            a {
                font: 500 18px @catamaran;
                color: @brown;                  
            }

            a {
                text-decoration: underline;
                &:hover {
                    color: @gold;
                }
            }
        }        
    }

    .is--desktop {
        display: none;
    }

    .copyrights {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;

        .agatha__copyrights {
            margin-bottom: 20px;
            font: 400 16px @catamaran;
            color: @brown;
            text-align: center;
        }

        .fabi {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font: 400 16px @catamaran;
                color: @brown;
                margin-bottom: 6px;
                text-align: center;
            }
            a {
                color: @brown;
                font-family: 'Cormorant', serif;
                font-weight: 700;
                font-size: 22px;                 
            }
        }

        @media screen and (min-width: 768px) {
            display: row;
            justify-content: space-between;

                .agatha__copyrights {
                    text-align: left;
                    margin-bottom: 0;
                }

                .fabi {
                    justify-content: flex-end;
                    align-items: center;
                    flex-direction: row;

                    p {
                        margin-bottom: 0;
                        text-align: left;
                    }

                    a {
                        margin-left: 10px;
                    }
                }
        }
    }

    @media screen and(min-width: 992px) {
        .is--mobile {
            display: none;
        }

        .is--desktop {
            display: block;

            .footer__contact {
                .footer__content {
                    font: 500 20px @catamaran;
                    color: @brown;
                }
            }

            .social__footer {
                .social__links {
                    width: 200px;

                    a {
                        &:hover {
                        filter: brightness(0) saturate(100%) invert(40%) sepia(5%) saturate(4239%) hue-rotate(359deg) brightness(109%) contrast(78%);
                        }
                    }
                }
            }

            .address {

                address,
                a {
                    font: 500 20px @catamaran;
                    color: @brown;                  
                }

                a {
                    text-decoration: underline;
                    &:hover {
                        color: @gold;
                    }
                }
            }            
        }
    }
    
}