// out: false

@import "__pallete.less";

.banner {

    background-image: url('../img/background.webp');
    background-repeat: no-repeat;
    background-size: cover;

    color: @darkgold;

    h1 {
        
        padding-top: 100px;
        font-size: 20px;
        font-family: 'Cormorant', serif;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 14%;
        color: @gold;

        @media screen and (min-width: 768px) {
            padding-top: 200px;
        }

    }

    h2 {
        font-size: 20px;
        font-family: 'Cormorant', serif;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 14%;
    }

    p {
        font-family: 'Catamaran', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        
    }
    
}

.services {

    background-color: @softPink;
    
    h2 {
        font-size: 20px;
        font-family: 'Cormorant', serif;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 14%;
        color: @darkgold;

        span {
           
            font-family: 'Catamaran', sans-serif;
            display: block;
            color: @gold;
            font-size: 36px;
            font-weight: 700;
            margin-top: 30px;
            letter-spacing: normal;
            text-transform: none;

            @media screen and (min-width: 768px) {
                font-size: 46px;
            }
        }
    }

    .card {

        height: 270px;
    
        .card-body {
            padding: 30px 20px 30px 20px;
        
            img {
                padding-bottom: 19px;
            }

            .card-title {
                font-family: 'Catamaran', sans-serif;
                font-size: 22px;
                font-weight: 800;
                color: @brown;
            }

            .card-text {
                font-family: 'Catamaran', sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: @darkgold;
            }
        }

        &:hover {

            background-color: @gold;
            cursor: pointer;

            img {
                filter: brightness(300%);
            }

            .card-title, 
            .card-text {
                color: @white;
            }
        }
    }
}

.about {

    background-image: linear-gradient(rgb(246, 227, 207), rgb(255, 249, 249));

    .about__content {
        h2 {
            color: @gold;
            font-family: 'Cormorant' serif;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 14%;
            text-transform: uppercase;
            
            .title__content {
                color: @darkgold;
                font-family: 'Catamaran', sans-serif;
                font-size: 36px;
                font-weight: 500;
                letter-spacing: normal;
                text-transform: none;
                line-height: 40px;
            }
        }
        
        p {
            color: @brown;
            font-family: 'Catamaran', sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            
        }

        .infos {
            color: @gold;
            padding-bottom: 40px;
            display: flex;
            justify-content: space-between;

                .info__highlight {

                    padding-top: 20px;
                
                    .highlight {
                        font-size: 46px;
                        font-weight: 900;
                        line-height: 20px;
                    }

                    .description {
                        display: block;
                        font-size: 26px;
                        font-weight: 400;
                        letter-spacing: 2.52px;
                    }
                }
        }

        .btn {
            border-radius: 0;
            background-image: linear-gradient(105deg, rgb(222, 170, 116) 0%, rgb(185, 134, 80) 100%);
            color: white;
            font-size: 18px;
            font-weight: 700;
            padding: 20px 44px;
            text-transform: uppercase;
            margin-bottom: 40px;
            
        }
    }

    @media screen and (min-width: 768px) {

        .about__content {

            margin-top: 5rem;
            margin-bottom: 5rem;
            padding: 0;
            flex-direction: row-reverse;
            justify-content: space-between;
           

            .title__content {
                font-size: 46px;
                line-height: 55px;
            }

            .infos {
                .info__content {
                    flex-direction: row;
                }
                
            }

            .btn {
                margin-bottom: 0;
            }
        }
    }
}

.team {
    background-color: black;

    .container {
        h2 {
            color: @gold;
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 7.2px;
            text-transform: uppercase;
            padding-bottom: 30px;

            .title__about {
                display: block;
                color: white;
                font-size: 36px;
                font-weight: 800;
                letter-spacing: normal;
                text-transform: none;
                line-height: 40px;
                padding-top: 10px; 

                @media screen and (min-width: 768px) {
                    font-size: 46px;
                }
            }
        }

        .team__carousel {
            .card__team {

                max-width: 369px;

                .photo {
                    padding: 7px 7px 0 7px;
                }
                .card-title {
                    color: black;
                    font-size: 18px;
                    font-weight: 800;
                    
                }
                .card-subtitle {
                    color: @gold;
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;
                    padding-bottom: 7px;
                }
                .card-text {
                    color: black;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 20px;
                }
                .card-link {
                    color: black;
                    font-size: 12px;
                    font-weight: 500;

                    .icon {
                        padding-right: 10px;
                    }
                }
            }
        
        }
 
    }
    @media screen and (min-width: 768px) {
        padding-top: 49px;
        padding-bottom: 40px;
    }
}

.cta {
    background-image: linear-gradient(103deg, rgb(222, 170, 116) 0%, rgb(185, 134, 80) 100%);
    .container {
        .title__cta {
            color: black;
            font-size: 36px;
            font-weight: 800;
            line-height: 40px;
            padding-bottom: 20px;
        }
        .btn2 {
            display: inline-block;
            background-color: white;
            color: @gold;
            font-size: 18px;
            font-weight: 800;
            padding: 20px 35px;
            text-transform: uppercase;
            min-width: 264px;
        }

        @media screen and (min-width: 768px) {
            
            .cta__button {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}