html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
body,
h1,
h2,
h5,
h6,
figure,
iframe {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
  color: none;
}
a:hover {
  text-decoration: none;
  color: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
p {
  margin-bottom: 0;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPHjd1ak.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPErd1ak.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPKba1ak.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPJ_a1ak.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPPja1ak.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v18/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFhFTQ7Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v18/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFiNTQ7Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v18/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFs9UQ7Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorant/v18/H4c2BXOCl9bbnla_nHIA47NMUjsNbCVrFvZUQ7Q.ttf) format('truetype');
}
.button__whatsapp--floating {
  display: inline-block;
  z-index: 175;
  position: fixed;
  bottom: 5px;
  right: 9px;
  border-radius: 100%;
  border: 2px solid white;
  padding: 7px 12px;
  background-color: #2acc1e;
  color: white;
}
.button__whatsapp--floating i {
  font-size: 36px;
  color: white;
}
.services #modalPrev {
  background-image: url('../../Content/img/bg-prev.svg');
  background-repeat: no-repeat;
  background-position: bottom 30px right 30px;
  background-size: 250px;
}
.services #modalCiv {
  background-image: url('../../Content/img/bg-civ.svg');
  background-repeat: no-repeat;
  background-position: bottom 30px right 30px;
  background-size: 250px;
}
.services #modalFam {
  background-image: url('../../Content/img/bg-fam.svg');
  background-repeat: no-repeat;
  background-position: bottom 30px right 30px;
  background-size: 400px;
}
.services #modalTrab {
  background-image: url('../../Content/img/bg-trab.svg');
  background-repeat: no-repeat;
  background-position: bottom 30px right 30px;
  background-size: 350px;
}
.services .modal-header {
  padding-bottom: 0;
}
.services .modal__custom {
  border: none;
  font-family: 'Catamaran', sans-serif;
  justify-content: center;
}
.services .modal__custom .title__icon {
  margin-left: 30px;
}
.services .modal__custom .title__icon .icon__modal {
  padding-top: 6rem;
  padding-bottom: 20px;
}
.services .modal__custom .title__icon .custom__title {
  font-size: 22px;
  font-weight: 800;
}
.services .modal__custom .custom__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.services .button__whatsapp {
  border-radius: 5px;
  padding: 7px 12px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #2acc1e;
  color: #13172d;
}
.services .button__whatsapp i {
  font-size: 36px;
  color: #191d36;
  padding-right: 7px;
}
.services .button__whatsapp .whats__modal {
  display: inline-block;
}
.services .button__whatsapp .whats__modal span {
  display: block;
  color: #13172d;
  font: 500 11px SANS-SERIF;
  text-transform: uppercase;
  letter-spacing: -0.18px;
}
.services .button__whatsapp .whats__modal span.sub {
  font: 900 18px SANS-SERIF;
  letter-spacing: 1.1px;
}
.btn__pink {
  display: inline-block;
  width: fit-content;
  border-radius: 0;
  background-image: linear-gradient(180deg, #bb8261 0%, #ca9d84 100%);
  color: #fff9f9;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Catamaran', sans-serif;
  padding: 20px 44px;
  text-transform: uppercase;
}
.btn__pink:hover {
  background-image: linear-gradient(40deg, #bb8261 0%, #ca9d84 100%);
  color: #fff9f9;
}
.btn__pink2 {
  display: inline-block;
  border-radius: 0;
  background-image: linear-gradient(180deg, #bb8261 0%, #ca9d84 100%);
  padding: 17px;
  width: 284px;
}
.btn__pink2 .btn__text {
  color: #fff9f9;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Catamaran', sans-serif;
  margin-bottom: 0;
  text-decoration: none;
  line-height: 25px;
}
.btn__pink2 img {
  width: 40px;
}
.btn__pink2:hover {
  background-image: linear-gradient(40deg, #bb8261 0%, #ca9d84 100%);
}
.btn__pink2:hover .btn__text {
  color: #fff9f9;
}
.button__white {
  display: block;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px 40px;
  color: #8f7241;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Catamaran', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  width: 562px;
  letter-spacing: 2.5px;
  max-width: 330px;
}
.button__white:hover {
  background-color: white;
  color: #ca9d84;
}
@media screen and (min-width: 768px) {
  .button__white {
    max-width: 100%;
  }
}
.page__header {
  position: absolute;
  width: 100%;
  z-index: 3000;
}
.page__header .is--mobile .container {
  margin-top: 30px;
}
.page__header .is--mobile .container .logo__header img {
  width: 125px;
}
.page__header .is--mobile .container .navbar__hamburguer img {
  width: 30px;
}
.page__header .is--mobile .container .navbar__overlay {
  z-index: 3000;
  display: none;
}
.page__header .is--mobile .container .navbar__overlay.open {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f6e3cf;
  overflow: hidden !important;
  transition: all linear 0.5s;
}
.page__header .is--mobile .container .navbar__overlay.open .overlay__logo {
  width: 120px;
  margin: 30px 0 0 30px;
}
.page__header .is--mobile .container .navbar__overlay.open .overlay__close {
  margin: 30px 30px 0 0;
  font-size: 30px;
  color: #523e27;
}
.page__header .is--mobile .container .navbar__overlay.open .overlay__content {
  overflow-y: auto !important;
  height: 90%;
}
.page__header .is--mobile .container .navbar__overlay.open .overlay__content .overlay__menu {
  margin: 0;
}
.page__header .is--mobile .container .navbar__overlay.open .overlay__content .overlay__menu .overlay__links {
  font-family: 'Cormorant', serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.page__header .is--mobile .container .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a {
  color: #523e27;
}
.page__header .is--mobile .container .navbar__overlay.open .overlay__content .overlay__menu .overlay__button {
  padding-top: 30px;
  border-radius: 0;
  background-image: linear-gradient(180deg, #bb8261 0%, #ca9d84 100%);
  color: #f6e3cf;
  font-family: 'Catamaran', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 44px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.page__header .is--mobile .container .navbar__overlay.open .overlay__content .overlay__menu .overlay__button img {
  margin-right: 10px;
}
@media screen and (min-width: 992px) {
  .page__header .is--mobile {
    display: none;
  }
}
.page__header .is--desktop {
  display: none;
}
@media screen and (min-width: 992px) {
  .page__header .is--desktop {
    display: block;
  }
  .page__header .is--desktop .container-fluid .desktop__links {
    font-family: 'Cormorant', serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .page__header .is--desktop .container-fluid .desktop__links a {
    color: #523e27;
  }
  .page__header .is--desktop .container-fluid .desktop__links ul {
    margin-bottom: 0;
  }
}
.owl-carousel.owl-theme.services__carousel img,
.owl-carousel.owl-theme.test__carousel img {
  max-width: fit-content;
}
.owl-carousel.owl-theme.services__carousel .owl-dots,
.owl-carousel.owl-theme.test__carousel .owl-dots {
  margin-top: 29px;
}
.owl-carousel.owl-theme.services__carousel .owl-dots .owl-dot span,
.owl-carousel.owl-theme.test__carousel .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background-color: #f6e3cf;
  border: 1px solid #bb8261;
  border-radius: 50px;
}
.owl-carousel.owl-theme.services__carousel .owl-dots .owl-dot.active span,
.owl-carousel.owl-theme.test__carousel .owl-dots .owl-dot.active span {
  background-color: #bb8261;
}
.owl-carousel.owl-theme.about__carousel img {
  max-width: 350px;
}
.owl-carousel.owl-theme.about__carousel .owl-nav {
  display: flex;
  justify-content: center;
  height: 44px;
  width: 100%;
  position: absolute;
  bottom: -20px;
}
.owl-carousel.owl-theme.about__carousel .owl-nav .owl-prev {
  margin: 0;
  width: 45px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: linear-gradient(40deg, #bb8261 0%, #ca9d84 100%);
}
.owl-carousel.owl-theme.about__carousel .owl-nav .owl-prev:hover {
  background-image: linear-gradient(180deg, #bb8261 0%, #ca9d84 100%);
}
.owl-carousel.owl-theme.about__carousel .owl-nav .owl-next {
  width: 45px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6e3cf;
  background-image: linear-gradient(180deg, #bb8261 0%, #ca9d84 100%);
}
.owl-carousel.owl-theme.about__carousel .owl-nav .owl-next:hover {
  background-image: linear-gradient(40deg, #bb8261 0%, #ca9d84 100%);
}
.owl-carousel.owl-theme.about__carousel .owl-nav .owl-prev,
.owl-carousel.owl-theme.about__carousel .owl-nav .owl-next {
  margin: -1px;
  border-radius: 0;
  font-size: 18px;
  border: 1px solid transparent;
}
.owl-carousel.owl-theme.about__carousel .owl-nav .owl-prev:hover,
.owl-carousel.owl-theme.about__carousel .owl-nav .owl-next:hover {
  border: 1px solid #f6e3cf;
  color: #f6e3cf;
}
.owl-carousel.owl-theme.team__carousel .icon {
  width: fit-content;
}
.owl-carousel.owl-theme.team__carousel .owl-dots {
  margin-top: 29px;
}
.owl-carousel.owl-theme.team__carousel .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background-color: #523e27;
  border: 1px solid #8f7241;
  border-radius: 0;
}
.owl-carousel.owl-theme.team__carousel .owl-dots .owl-dot.active span {
  background-color: #8f7241;
}
.page__footer {
  background-image: url('../img/bg-2.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.page__footer .is--mobile .social__links {
  width: 200px;
}
.page__footer .is--mobile .social__links a:hover {
  filter: brightness(0) saturate(100%) invert(40%) sepia(5%) saturate(4239%) hue-rotate(359deg) brightness(109%) contrast(78%);
}
.page__footer .is--mobile .footer__content {
  font: 500 18px 'Catamaran', sans-serif;
  color: #29231b;
}
.page__footer .is--mobile .address address,
.page__footer .is--mobile .address a {
  font: 500 18px 'Catamaran', sans-serif;
  color: #29231b;
}
.page__footer .is--mobile .address a {
  text-decoration: underline;
}
.page__footer .is--mobile .address a:hover {
  color: #8f7241;
}
.page__footer .is--mobile .copyrights .agatha__copyrights {
  margin-bottom: 0;
  font: 400 16px 'Catamaran', sans-serif;
  color: #29231b;
}
.page__footer .is--mobile .copyrights .logo__ark {
  width: 120px;
}
.page__footer .is--desktop {
  display: none;
}
@media screen and (min-width: 992px) {
  .page__footer .is--mobile {
    display: none;
  }
  .page__footer .is--desktop {
    display: block;
  }
  .page__footer .is--desktop .footer__contact .footer__content {
    font: 500 20px 'Catamaran', sans-serif;
    color: #29231b;
  }
  .page__footer .is--desktop .social__footer .social__links {
    width: 200px;
  }
  .page__footer .is--desktop .social__footer .social__links a:hover {
    filter: brightness(0) saturate(100%) invert(40%) sepia(5%) saturate(4239%) hue-rotate(359deg) brightness(109%) contrast(78%);
  }
  .page__footer .is--desktop .address address,
  .page__footer .is--desktop .address a {
    font: 500 20px 'Catamaran', sans-serif;
    color: #29231b;
  }
  .page__footer .is--desktop .address a {
    text-decoration: underline;
  }
  .page__footer .is--desktop .address a:hover {
    color: #8f7241;
  }
  .page__footer .is--desktop .copyrights {
    padding-bottom: 30px;
  }
  .page__footer .is--desktop .copyrights .agatha__copyrights {
    margin-bottom: 0;
    font: 500 16px 'Catamaran', sans-serif;
    color: #29231b;
  }
  .page__footer .is--desktop .copyrights .ark {
    display: flex;
    justify-content: flex-end;
  }
  .page__footer .is--desktop .copyrights .ark .logo__ark {
    width: 100px;
  }
}
.banner {
  background-image: url('../img/background-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #523e27;
}
.banner h1 {
  padding-top: 100px;
  font-size: 20px;
  font-family: 'Cormorant', serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #8f7241;
}
@media screen and (min-width: 768px) {
  .banner h1 {
    padding-top: 200px;
  }
}
.banner h2 {
  font-size: 20px;
  font-family: 'Cormorant', serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.banner p {
  font-family: 'Catamaran', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .banner {
    background-image: url('../img/background.webp');
  }
}
.services {
  background-color: #f6e3cf;
}
.services h2 {
  font-size: 20px;
  font-family: 'Cormorant', serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #8f7241;
}
.services h2 span {
  font-family: 'Catamaran', sans-serif;
  display: block;
  color: #523e27;
  font-size: 36px;
  font-weight: 700;
  margin-top: 30px;
  letter-spacing: normal;
  text-transform: none;
}
@media screen and (min-width: 768px) {
  .services h2 span {
    font-size: 46px;
  }
}
.services .card {
  height: 264px;
  max-width: 300px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  margin: 5px 5px;
}
.services .card .card-body {
  padding: 30px 20px 30px 20px;
}
.services .card .card-body img {
  padding-bottom: 19px;
}
.services .card .card-body .card-title {
  font-family: 'Catamaran', sans-serif;
  font-size: 22px;
  font-weight: 800;
  color: #29231b;
}
.services .card .card-body .card-text {
  font-family: 'Catamaran', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #523e27;
}
.services .card:hover {
  background-color: #8f7241;
  cursor: pointer;
}
.services .card:hover img {
  filter: brightness(300%);
}
.services .card:hover .card-title,
.services .card:hover .card-text {
  color: #fff9f9;
}
.services .modal .custom__title {
  font-family: 'Catamaran', sans-serif;
  color: #523e27;
}
.services .modal .custom__text {
  font-family: 'Catamaran', sans-serif;
  color: #29231b;
}
.services .modal .modal__button {
  padding-top: 30px;
  border-radius: 0;
  background-image: linear-gradient(180deg, #bb8261 0%, #ca9d84 100%);
  color: #f6e3cf;
  font-family: 'Catamaran', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 44px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.services .modal .modal__button img {
  margin-right: 10px;
}
.about {
  background-image: linear-gradient(#f6e3cf, #fff9f9);
}
.about .container .about__content .content {
  align-items: center;
}
.about .container .about__content .content h2 {
  color: #8f7241;
  font-family: 'Cormorant', serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}
.about .container .about__content .content h2 .title__content {
  color: #523e27;
  font-family: 'Catamaran', sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: none;
  line-height: 40px;
}
@media screen and (min-width: 768px) {
  .about .container .about__content .content h2 {
    text-align: left;
  }
}
.about .container .about__content .content p {
  color: #29231b;
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .about .container .about__content .content p {
    text-align: left;
  }
}
.about .container .about__content .content .infos {
  color: #bb8261;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Catamaran', sans-serif;
  width: 100%;
}
.about .container .about__content .content .infos .info__highlight {
  padding-top: 20px;
  text-align: center;
}
.about .container .about__content .content .infos .info__highlight .highlight {
  font-size: 46px;
  font-weight: 800;
  line-height: 20px;
}
.about .container .about__content .content .infos .info__highlight .description {
  display: block;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 2.5px;
}
@media screen and (min-width: 768px) {
  .about .container .about__content .content .infos .info__highlight {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .about .container .about__content .content .infos {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .about .container .about__content .content {
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .about .container .about__content {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 0;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .about .container .about__content h2 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
  }
  .about .container .about__content h2 .title__content {
    font-weight: 700;
    font-size: 38px;
    line-height: 55px;
    letter-spacing: normal;
  }
  .about .container .about__content .infos .info__content {
    flex-direction: row;
  }
  .about .container .about__content .btn {
    margin-bottom: 0;
  }
}
.about__me {
  background-image: linear-gradient(#ca9d84, #dcb9a6);
}
.about__me .container {
  background-image: linear-gradient(#fff9f9 100%, #f6e3cf 0%);
  background-size: 95% 80%;
  background-repeat: no-repeat;
  background-position: center top 0;
}
.about__me .container .aboutme__title {
  color: #8f7241;
  font-family: 'Cormorant', serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.about__me .container .aboutme__title .title__content {
  color: #523e27;
  font-family: 'Catamaran', sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: normal;
  text-transform: none;
  line-height: 45px;
}
.about__me .container .me__content {
  color: #29231b;
  font-family: 'Catamaran', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .about__me .container .me__content {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .about__me .container .me__logo {
    margin-bottom: 48px;
  }
}
.about__me .container .photo__agatha {
  margin-top: -75px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about__me .container .btn__pink2.btn__aboutme {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 768px) {
  .about__me .container h2 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
  }
  .about__me .container h2 .title__content {
    font-size: 38px;
    line-height: 55px;
    letter-spacing: normal;
  }
}
@media screen and (min-width: 768px) {
  .about__me .container {
    background-size: 100%;
    margin-top: 65px;
    margin-bottom: 65px;
  }
}
.cta {
  background-color: #dcb9a6;
  background-image: url('../img/bg-logo.svg');
  background-repeat: no-repeat;
  background-position: bottom 0 right -30px;
  background-size: 380px;
}
.cta .container .cta__text {
  font-family: 'Catamaran', sans-serif;
  font-size: 28px;
  font-weight: 800;
  color: #523e27;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .cta .container .cta__text {
    font-size: 32px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .cta .container .btn__cta {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .cta .container {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.testimonials {
  background-color: #fdf4f4;
}
.testimonials .test__title {
  color: #8f7241;
  font-family: 'Cormorant', serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.testimonials .test__icon {
  margin-bottom: -15px;
  margin-left: 35px;
  z-index: 1;
}
.testimonials .testimonial__card {
  background-color: #fff9f9;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 50px 35px 50px 35px;
  z-index: 10;
  width: 318px;
  height: 550px;
}
.testimonials .testimonial__card .test__text {
  font-family: 'Catamaran', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #523e27;
  letter-spacing: 2.5px;
}
.testimonials .testimonial__card .test__name {
  font-family: 'Catamaran', sans-serif;
  font-size: 22px;
  font-weight: 800;
  color: #8f7241;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  margin-bottom: 0;
}
.testimonials .testimonial__card .test__name .test__city {
  color: #ca9d84;
  letter-spacing: normal;
}
